
<section class="Queries">
  <div>
    <h1>Ask Us</h1>
    <h3></h3>
    <form>
      <div class="input-group mb-3 w-75">
        <span class="input-group-text" id="basic-addon1"> @Subject  </span>
        <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group w-75">
        <span class="input-group-text">Query</span>
        <textarea class="form-control"   rows="5"  aria-label="With textarea"></textarea>
      </div>
      <button class="btn btn-warning w-25">submit query</button>
    </form></div>
  <div>
    <h1 >My Previous Queries</h1>
    <div>
      <img src="">
    </div>
  </div>
  <div>
    <h1 >FAQs</h1>
    <div>
      <img src="">
    </div>
  </div>
</section>
